language: erlang
addons:
  apt:
    packages:
      - libprotobuf-dev
      - protobuf-compiler
otp_release:
  - 21.0
  - 20.3
  - 19.3
  - 18.3
  - 17.5
  - R16B03
  - R15B03
env:
  - VERBOSE=1
script:
  - make
  - make test
  - |
    travis_otp_major=$(echo "$TRAVIS_OTP_RELEASE" | cut -d. -f1)
    if ((travis_otp_major >= 21)); then
      protoc --version
      rebar3 eunit -m prop_gpb
    fi
