name: build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    name: Build and test gpb
    runs-on: ubuntu-latest

    strategy:
      matrix:
        otpvsn: [22, 23, 24, 25, 26]
      fail-fast: false

    container:
      image: erlang:${{ matrix.otpvsn }}

    env:
      VERBOSE: 1
      GPB_ALLOW_NON_CONFORMING_VSN_FORMAT: 1
    steps:
      - uses: actions/checkout@v2
      - name: Erlang ${{ matrix.otpvsn }}
        # TODO: test with protobuf (in the container)
        run: |
          set -xv
          echo $GITHUB_SHA > gpb.vsn
          erl +B -noinput -eval 'io:put_chars(erlang:system_info(system_version)),halt(0).'
          make all test doc dialyze
